/*PAGE FOR POTENTIAL SPONSORS(temporary)*/
body{
  background-color: rgb(30,30,41);
  margin: 0px;
  color: white;
}

h2{
  color: white;
  margin: 10px auto;
  padding-top: 5%;
  text-align: center;
  font-size: 30px;
}


div{
  clear:both;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#nav2{
  font-size: 35px;
  margin: 0px;
  padding: 20px;
}
#nav2 a{
  text-decoration:none;
  color: white;
  margin-left: 97%;
}

#nav2 a:hover{
  color: yellow;
}
#logo{
  width:25%;
  margin-left: auto;
  margin-right: auto;
}
#logo img{
  width: 100%;
}

#reasons{

}

p{
  font-size: 30px;
  line-height: 40px;
  padding: 2% 17%;
  text-align: justify;
}
